@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
body {
    margin: 0;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "DynaPuff", cursive;
}